{% extends 'bobross/base.html' %}
{% block title %}Episode Detail{% endblock %}
{% block extra_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    {% load static %}
        <link rel="stylesheet" href="{% static 'bobross/css/episode-detail.css' %}">
{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1><a href="{{ episode.link }}">{{ episode.title }}</a></h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Season {{ episode.season }} Episode {{ episode.episode_number }}</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                src={{ episode.yt_link }} allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Paints for this Episode</h2>
            {% for paint in episode.paints.all %}
                <div class="">
                <a target="_blank" href="{{ paint.amazon_link }}">{{ paint.color }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
        <h2>Word Cloud</h2>
        {% load static %}
        <img class="img-responsive" src="{% static episode.wordcloud.name %}" alt="Word Cloud"/>
    </div>

    <div class="col-lg-6">
        <h2>Upload To The Gallery</h2>
        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <p>
            {{ form.painting }}
        </p>
        <input type="submit" value="Submit" />
        </form>
    </div>
  </div>
<div class="container-fluid">
    <h1>Gallery</h1>
    <div class="row justify-content-center">
        <div class="col-md-12">
        <div class="row">
        {% for p in episode.epi_paintings.all %}
            <a href="{{ MEDIA_URL }}{{ p.painting.name }}" data-max-width="800" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="{{ MEDIA_URL }}{{ p.painting.name }}" class="img-responsive">
            </a>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
        {% endfor %}
        </div>
        </div>
</div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
    });
});
</script>
{% endblock %}