{% extends 'bobross/base.html' %}
{% block title %}User Art{% endblock %}
{% block extra_head %}
     {% load static %}
        <link rel="stylesheet" href="{% static 'bobross/css/gallery.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>Gallery</h1>
    <div id="images">
    {% for p in artwork %}
        <div class="item">
            <img src = "{{ MEDIA_URL }}{{ p.painting.name }}" alt=""/>
        </div>
    {% endfor %}
    </div>
</div>
<!--<div id="gallery" class="gallery">
        <li>
            <a href="/user-art/{{ p.id }}/" class="inner">
                <div class="li-img">
                    <img src = "{{MEDIA_URL}}{{ p.painting.name}}" alt="User Painting"/>
                </div>
                <div class="li-text">
                    <h4 class="li-head">{{  p.owner.name }}</h4>
                    <p class="li-sub"></p>
                </div>
            </a>
        </li>
    </ul>
</div>
--!>
{% endblock %}