{% extends 'bobross/base.html' %}
{% block title %}User Art{% endblock %}
{% block extra_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
     {% load static %}
    <link rel="stylesheet" href="{% static 'bobross/css/gallery.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
<h1>Gallery</h1>
<div class="row justify-content-center">
    <div class="col-md-12">
    <div class="row">
    {% for p in artwork %}
        <a href="{{ MEDIA_URL }}{{ p.painting.name }}" data-max-width="800" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="{{ MEDIA_URL }}{{ p.painting.name }}" class="img-responsive">
        </a>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
    {% endfor %}
    </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
    });
});
</script>
</div>
    <!--<div id="gallery" class="gallery">
        <li>
            <a href="/user-art/{{ p.id }}/" class="inner">
                <div class="li-img">
                    <img src = "{{MEDIA_URL}}{{ p.painting.name}}" alt="User Painting"/>
                </div>
                <div class="li-text">
                    <h4 class="li-head">{{  p.owner.name }}</h4>
                    <p class="li-sub"></p>
                </div>
            </a>
        </li>
    </ul>
</div>
--!>
{% endblock %}